.main{
    display: flex;
    margin-top: 40px;
}

.input{
    padding: 20px;
    border: 1px solid #666;
    border-radius: 40px;
    width: 400px;
}

.btn{
    margin-left: 20px;
    width: 150px;
    border-radius: 40px;
    background: #000;
    color: #fff;
}