* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}