.main{
    background-color: #000;
    color: #fff;
    flex: 0 0 auto;
    font-size: 13px;
}

.topRow {
    padding: 30px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: space-around;
}

hr{
    opacity: 0.2;
}

.mainLink{
    margin-top: 10px;
    color: #666666;
}

.subLinksContainer{
    display: flex;
    flex-direction: column;
}

.subLink{
    margin-top: 5px;
}

.bottomRow{
    padding: 20px;
}

.languagesItem{
    color: #666666;
    margin-right: 20px;
}

.languagesItem:nth-child(1){
    color: #fff;
}

.timezone{
    margin-top: 15px;
}

.additionalInfo{
    color: #666666;
    margin-top: 15px;
}